web/bundles/
app/bootstrap.php.cache
app/cache/*
app/logs/*
vendor
composer.phar
build/api
####
# So you can ignore this file or not, if you run project init
# and are using git, then it will ignore updates to this file
#app/config/parameters.yml
