<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets
            filter='yui'
        %}
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% javascripts
            filter='yui'
        %}
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
